.form{
    margin-top: 5rem;
}

.innerForm{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* border: 1px solid #000; */
}

.innerForm input{
    font-size: 2rem;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    /* box-shadow: 10px; */
    box-shadow: 10px 5px 5px #B7B597;

}
.innerForm input[type=submit]{
    background-color: #DAD3BE ;
    /* lightgreen; */
    cursor: pointer;
}   