.form{
    margin-top: 2rem; 
    /* margin: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.innerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.innerForm input{
    font-size: 2rem;
    padding: 1rem 1rem;
    border-radius: 3rem;    border: 1px solid grey;
    box-shadow: 10px 5px 5px #B7B597;

}
.innerForm input[type=submit]{
    background-color: #DAD3BE ;
    cursor: pointer;}